    



 
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}     



textarea {
    height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    width: 210px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: inherit;
}

select,
input[type="file"] {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    line-height: 30px;
}

select {
    
    background-color: #ffffff;
    border: 1px solid #cccccc;
}





   input[type="file"]
   {
       width: 240px;
   }






     

.btn,input[type="file"] {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    height: inherit;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
    margin-top: 4px;
}




   
.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #003399 \9;
}
    
.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    color: #ffffff;
    background-color: #f89406;
    *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
    background-color: #c67605 \9;
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    color: #ffffff;
    background-color: #bd362f;
    *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
    background-color: #942a25 \9;
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
    background-color: #408140 \9;
}



.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    color: #ffffff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
    background-color: #24748c \9;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    *background-color: #222222;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #ffffff;
    background-color: #222222;
    *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
    background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


 




.grid_title {
	background-image: url(grid_ttl.png);
	background-repeat: repeat-x;
	background-position: center;
	font-size: 12px;
	color: #35506A;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 1px solid #A0B6CB;
	height: 24px;
	vertical-align: middle;
	padding-left: 12px;
}
.grid_title_top {
	
	background-repeat: repeat-x;
	background-position: center;
	font-size: 12px;
background-color: rgb(139, 177, 228);
	color: #011321;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 2%;
	padding-left: 12px;
	vertical-align: middle;
}
.grid_header {
	background-image: url(grid_hdr.png);
	background-repeat: repeat-x;
	background-position: center;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C4C4;
	height: 20px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C4C4;
}
.grid_col_header {
	background-image: url(grid_nbr.png);
	background-repeat: repeat-y;
	background-position: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F5F5F5;
	height: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B1B1B1;
}
.grid_inner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #B8CFEE;
	background-color: #FFF;
}
.grid_row {
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	background-color: #FFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E8E8E8;
	padding-left: 5px;
	font-size: 12px;
	color: #666;
}
.grid_notice_ok {
	color: #063;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C7DAF2;
	border-bottom-color: #C7DAF2;
	border-left-color: #C7DAF2;
	text-align: center;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	height: 20px;
	vertical-align: middle;
	background-image: url(grid_hdr.png);
	background-repeat: repeat-x;
}
.btn100_40 {
	height: 40px;
	width: 180px;
}
.notice_red {
	font-size: 11px;
	color: #F60;
	font-family: Arial, Helvetica, sans-serif;
}
.ma_field{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #B3B2B2;
	background-image: url(../field_back.gif);
	width:120px;
}
.ma_field_long{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #B3B2B2;
	background-image: url(../field_back.gif);
	width:200;
}
.ma_field_medium{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #B3B2B2;
	background-image: url(../field_back.gif);
	width:60px;
}
.ma_field_small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #B3B2B2;
	background-image: url(../field_back.gif);
	width:40px;
}
.form_text {
	font-size: 14px;
}
.box {
	border: 1px solid #8BB1E4;
	background-color: #FFF;
}
.box_two {
	background-color: #FF9;
	border: 1px solid #C60;
	padding: 4px;
	background-image: url(../bar_yellow.png);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.box_one {
	border: 1px solid #93ADC6;
	background-color: #D3E1EE;
	padding: 4px;
}
.text_small_msg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	padding: 5px;
}
.txt_22 {
	width: 44px;
}

.mnu_blk{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.mnu_blk ul{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	background-color: #002233;
}

.mnu_blk ul li{
display: inline;
}

.mnu_blk ul li a{
	float: left;
	color: #006699;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 11px;
	padding-bottom: 3px;
	padding-left: 11px;
}

.mnu_blk ul li a:visited{
color: #FFFFFF;
}

.mnu_blk ul li a:hover, .mnu_blk ul li .selected{
	color: #FFFF00 !important;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #008000;
}
.row_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B5DCDF;
}
.label_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	padding-left: 5px;
	vertical-align: top;
}
.text_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	padding-left: 5px;
	vertical-align: top;
}
.box_customer {
	padding: 5px;
	border: 1px solid #C2D0DE;
	background-color: #E0E9F1;
}
.title_three {
	font-weight: normal;
	color: #CCC;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-image: url(../../img_bg/bg_tittle23.png);
	background-repeat: repeat-x;
	background-position: top;
	padding-left: 12px;
	text-transform: uppercase;
}
.title_four {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FC0;
	padding-bottom: 3px;
	background-position: bottom;
	padding-left: 12px;
	text-transform: uppercase;
	padding-right: 12px;
}
.page_tittle7 {
	background-color: #;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #023;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-left: 5px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.grid_title77 {
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #8B333F;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #666;
	border-left-color: #666;
	vertical-align: middle;
	font-size: 13px;
	
}
.grid_title77_head {
	font-size: 18px;
	color: #FFF;
	padding-bottom: 5px;
}
.grid_title77_head_sub {
	font-size: 11px;
	color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
}
.head_3 {
	background-color: #BAE2DE;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #51B5AB;
}
.box_4 {
	border: 1px solid #999;
}

a { 
	color:#FFF}
.classname { 
	border:solid 1px #2d2d2d; 
	text-align:center; 
		padding:10px 19px 4px 20px;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px; 
	border-radius: 5px;}

.classname{
text-shadow:5px  5px 5px #000000;
	  }

.classname2 { 
	border:solid 1px #2d2d2d; 
 	text-align:center; 
	background:white; 
	padding:2px 20px 4px 20px;  
	-moz-border-radius: 5px; 
 	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

.classname2{
text-shadow:5px  5px 5px #000000;
}

.mnud{
	text-shadow:5px  5px 5px #000000;
}

.mnud { 
	border:solid 1px #2d2d2d; 
	text-align:center;
	width:500px; 
	background:#575757; 
	padding:2px 20px  1px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px; 
	border-radius: 5px;}